.container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
  background: #f9f9f9;
}

/* Left sidebar column */
.sidebar {
  flex: 0 0 500px;
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
}
.sidebar-links i {
  margin-right: 8px;
}

.profile-pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px; 
  margin-bottom: 20px;
  border: 1px solid #1c222b;
}

.sidebar h2 {
  margin: 0 0 5px;
  font-size: 1.6em;
  color: #1c222b;
}
.urdu-name {
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.sidebar p {
  margin: 6px 0;
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

.sidebar a {
  color: #8b1412;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar-links p {
  margin: 10px 0;
}

/* Right main content column */
.main {
  flex: 1;
  background-color: #fff;
  padding: 30px 30px 30px 40px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  color: #1c222b;
  border-bottom: 2px solid #1c222b;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-weight: 700;
}

section p, section ul {
  font-size: 1em;
  color: #444;
  line-height: 1.5;
}

section ul {
  list-style-type: disc;
  padding-left: 20px;
}

section ul li {
  margin-bottom: 8px;
}

a {
  color: #b30f0c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.publication-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.publication-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  gap: 15px;
}

.pub-figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.pub-details {
  flex: 1;
}

.pub-title {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 6px;
  color: #0f1216;
}

.pub-authors {
  font-size: 1.0em;
  color: #555;
  margin-bottom: 6px;
}

.pub-link a {
  font-size: 1.0em;
  color: #8b1412;
  text-decoration: none;
}

.pub-venue {
  font-size: 1.0em;
  color: #666;
  font-style: italic;
  margin-bottom: 6px;
}

.pub-link a:hover {
  text-decoration: underline;
}
