body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

a {
  color: #2a5db0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  margin: 40px auto;
  padding: 20px;
  gap: 40px;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  text-align: center;
}

.profile-pic {
  width: 50%;
  max-width: 50;
  border-radius: 10px;
  margin-bottom: 15px;
}

.sidebar-links p {
  margin: 6px 0;
}

.main {
  flex-grow: 1;
}

h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-top: 30px;
}

section {
  margin-bottom: 30px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}
